*.iml

.gradle/
.kotlin/

local.properties

.idea/caches/
.idea/libraries/
.idea/workspace.xml
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

build/
**/build/

captures/

.externalNativeBuild/
.cxx/

.DS_Store